@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Nunito+Sans:400,400i,700,700i&display=swap');

// font-family: 'Nunito Sans', sans-serif;

body {
  background-color: #ececec;
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
}

h1 {
  font-family: 'Domine', serif;
  font-weight: 700;
  color: #393939;
}

h2 {
  font-family: 'Domine', serif;
  font-weight: 400;
  color: #393939;
}
